.terminal {
  background-color: #000;
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  white-space: pre;

  > .prompt {
    display: inline-block;

    > input {
      background: none;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}

#focus-thief {
  position: absolute;
  pointer-events: none;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  background: none;
  color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  resize: none;

  &:focus {
    outline: none;
    border: none;
  }
}
