* {
  box-sizing: border-box;
  color: inherit;
}

body,
html {
  margin: 0 auto;
  height: 100%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bold {
  font-weight: 700;
}

.error {
  font-weight: 700;
  color: #f00;
}

a {
  color: inherit;
  font-weight: inherit;
  text-decoration: underline;
  
  &:hover {
    cursor: pointer;
    font-weight: bold;
  }
}

ul,
ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: none;
   color: inherit;
   font-weight: inherit;
}
